<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went wrong on the server!</h1>
      <p>We are trying our best to fix it, please bear with us.</p>
    </main>
  </body>
</html>
